.main {
//    background: purple;
    border: 0rem solid #eee;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    overflow-x: hidden;
    margin: 1rem 1.5rem;
    background: #eee;
    border-left-width: 1rem;
    border-right-width: 1rem;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
    

    
    &-display {
        color: black;
        // background: $primary-color;
        background: white;
        // height: 80%;
        min-height: calc(100vh - 6rem);
        width: 95%;
        margin: 2rem auto;
        border-top-right-radius: 3.5rem;
        border-bottom-right-radius: 3.5rem;
        padding: 1.5rem;
        box-shadow: $shadow-xl;
    }
}