.file-upload-progress {
	height: 1.5rem;
	background-color: secColor(0.3);
	border-radius: 10rem;
	margin:  2rem 0;
	box-shadow: $shadow-lg;

	&-bar {
		background-color: $primary-color2;
		height: 1.5rem;
		transition: width 0.6s ease;
		border-radius: 10rem;
		width: 0;
	}
}

#file-upload-status {
	margin-top: 1rem;
	// background-color: orange;
	font-size: 2rem;
	height: 2.8rem;
}

.file-upload-div {
	margin: 4rem 4rem 2rem;
	text-align: center;
	border: 2px dashed $primary-color2;
	padding: 4rem 3rem 3.5rem;


}



.file-input-fc {
	background-color: #eee;
	display: flex;
	border-radius: 10rem;

	.file-input-wrap {
		position: relative;
		overflow-x: hidden;
		display: inline-block;

		input[type="file"] {
			position: relative;
			top: 0;
			left: -7.2rem;
			padding: 0.75rem 0;
			font-weight: 600;
			color: $sec-color;

			button {
				background: green;
			}
		}
	}

	label {
		display: inline-block;
		background: $primary-color;
		color: white;
		padding: 0.75rem 1.5rem; 
		border-radius: 10rem;
		width: 10rem;
		white-space: nowrap;

		&:hover {
			background-color: $primary-color2;
		}

	}

}


.file-submit-fc {
	margin: 4rem 2rem;

	button {
		outline: none;
		background-color: $primary-color2;
		padding: 0.75rem 1.5rem;
		font-size: 2.1rem;
		border: 0 solid transparent;
		color: white;
		border-radius: 1rem;

		&:hover {	
			background-color: $primary-color;
		}

	}
}

.page-title {
	span {
		font-size: 1.8rem;
		margin-left: -1rem;

		a {
			color: $primary-color2;

			&:hover {
				color: $sec-color;
			}
		}
	}

	& + p {
		margin-top: 0.6rem;
	}
}

.upload-guidelines {
	padding-top: 1rem;

	h4 {
		font-size: 1.8rem;
	}


	ol {
		margin-left: 3rem;
		// line-height: 2rem;

		li {
			margin: 0.3rem 0;
		}
	}
}